.vscode
.DS_Store
/IaC/terraform.tfstate
/IaC/terraform/.terraform
/IaC/terraform/plan
.terraform.lock.hcl
/IaC/terraform/terraform.tfstate
/IaC/terraform/terraform.tfstate.backup
/function/package
.gitignore
